@body-bg: #fff;
@p-font: #999;
@outline-color-all-elements: #f2a900;
@a-font: #006298;

// Sidebar
@sidebar-bg:  #006298;
@sidebar-font: #f7f7f7;
@sidebar-header-bg: #006298;
@sidebar-menu-item-hover-font: #003865;
@sidebar-menu-item-hover-bg: #fff;
@sidebar-sub-menu-bg: #073a61;
@sidebar-active-item-color: #f7f7f7;
@sidebar-active-item-bg: #00263e;
@sidebar-menu-bottom-border: #114071;
@sidebar-menu-button: #006298;
@color-header: #292b2c;
@footer-link-color: #0275d8;
@footer-link-color-hover: #014c8c;

// Buttons
@nav-btn-border-color: #fff;
@nav-btn-focus-border-color: #fff;
@nav-btn-focus-bg-color: #fff;
@nav-btn-focus-color: #006298;

// Navbar
@nav-bg: #fff;

// Header colors
@header-bg: #003865;
@brand-text-color: #fff;

// Content
@content-bg: #fff;
@embed-container-bg: #E1E9F0;
@iframe-bg: #fff;
@breadcrumb-bg: rgba(223, 223, 223, 0.6);
@default-button-bg: #fff;
@exercise-button-border: #ccc;
@exercise-button-hover-color: #e6e6e6;

// Accordion
@accordion-heading-bg: #f7f7f7;
@fred-btn-text-color: #fff;

// List of Indicators grid
@series-name-link-color: #006298;

// About resource
@paragraph-text-color: #3f3f3f;

// ERROR box
@error-box-bg: #BF3737;
@error-box-color: #fff;
