// Window collapse
@viewport-max: 1023px;
@viewport-mobile: 800px;
@viewport-mobile-mini: 660px;
@viewport-mobile-micro: 420px;
// below this value the graph will start occuping full width
@viewport-graph-full: 499px;

// Content
@content-anim-duration: .2s;
@outline-width: 2px;

// Content header
@h1-font-for-viewport-normal: 1.9em;
@h1-line-height: 1.2em;
@sidebar-header-button-font: 1.3em;
@h1-font-for-viewport-max: 1.7em;
@h1-font-for-mobile-mini: 1.6em;
@h1-font-for-mobile-micro: 1.3em;

// Sidebar
@sidebar-anim-duration: .2s;
@sidebar-collapsed-width: 60px;
@sidebar-width: 300px;
@sidebar-submenu-height: 325px;
@sidebar-submenu-border-radius: 4px;
@sidebar-menu-items-label-width: 240px;
@sidebar-menu-item-min-height: 40px;

// Chart
@indicator-heading-border-radius: 4px;

// Accordion
@min-accordion-gap: 40px;
@accordion-height: 800px;

// Sub heading
@sub-heading: 1.3em;
@category-heading: 0.9em;