@import "../../css/main.less";
body {
  font-family: sans-serif !important;
}
#tasksContainer {
  width: 80%;
  margin: auto;
  margin-top: 2em;
}
.btn {
  cursor: pointer;
}
.form-heading {
  margin-bottom: 60px;
}
a:focus, a:hover {
  text-decoration: none;
}
button.btn.md-btn-success , button.btn.md-button.md-raised.md-btn-success:hover{
  background-color: #4caf50;
  color: #fff;
}
/**
 * Fix for form reset not clearing ng-message, bug here -
 * https://github.com/angular/material/issues/9543
 */
 .frm-is-submitted .ng-untouched ~ .md-input-messages-animation {
  height: 0;
  opacity: 0;
}
.row-action {
  cursor: pointer
}
md-dialog-actions{
  padding-right: 16px;
}