<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A demo application on Angular Material">
  <meta name="keywords" content="google maps demo, demo on goole maps, google maps angular">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Search Location</title>

  <link rel="apple-touch-icon" href="dist/img/favicon.jpg">
  <link rel="shortcut icon" type="image/x-icon" href="dist/img/favicon.jpg">
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css?ver=<!-- @echo VERSION -->">
  <link rel="stylesheet" href="lib/toastr/toastr.css?ver=<!-- @echo VERSION -->">
  <link rel="stylesheet" href="lib/angular-material/angular-material.min.css?ver=<!-- @echo VERSION -->">
  <!-- @if NODE_ENV='production' -->
  <link rel="stylesheet" href="dist/css/style.min.css?ver=<!-- @echo VERSION -->">
  <!-- @endif -->

  <!-- @if NODE_ENV='development'-->
  <link rel="stylesheet" href="dist/css/style.css?ver=<!-- @echo VERSION -->">
  <!-- @endif -->
</head>

<body ng-app="googleSearchLocation">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse header">
    <a class="navbar-brand" href="http://osmosys.asia/">
      <img src="img/osmosys-logo.png" alt="logo">
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../">Introduction</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Help
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="modal help-modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Google maps</h5>
        </div>
        <div class="modal-body">
          <h5>Search nearest movies/restaurants</h5>
          <p>For this we will need to ask the user for their location with the HTML 5 Location API. If the user rejects, we
            need to show a clear message to the user.</p>
          <p>Once the user gives us access, we will allow them to select moves or restaurants from a drop down and click on
            search button. We will also allow them to enter the distance in kilometers.</p>
        </div>
      </div>
    </div>
  </div>
  <section class="main-container map-container" layout="row" flex ng-controller="SearchLocationController as vm">
    <md-sidenav ng-cloak class="md-sidenav-left search-container" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
      md-disable-backdrop>
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Search Location</h1>
      </md-toolbar>
      <md-content layout-margin class="search-form">
        <div>
          <form name="userForm" ng-submit="vm.searchLocation()" novalidate>
            <div layout-gt-xs="column">
              <md-input-container class="md-block ddl-location" flex-gt-xs="35">
                <label>Place</label>
                <md-select ng-model="vm.selectedPlace">
                  <md-option ng-repeat="place in vm.locations" value="{{place.key}}">
                    {{place.name}}
                  </md-option>
                </md-select>
              </md-input-container>
              <div flex="5" hide-xs hide-sm>
                <!-- Spacer //-->
              </div>
              <md-input-container class="md-block" flex-gt-xs>
                <label>Distance(km)</label>
                <input type="number" ng-model="vm.distance" name="distance" max="50" min="0">
                <div ng-messages="userForm.distance.$error">
                  <div ng-message="min">Please enter more than 0 kms</div>
                  <div ng-message="max">Please enter less than 50 kms</div>
                </div>
              </md-input-container>
              <div flex="5" hide-xs hide-sm>
                <!-- Spacer //-->
              </div>
              <md-button type="submit" class="md-raised md-primary">Search</md-button>
            </div>
          </form>
        </div>
      </md-content>
      <md-content class="search-results-container">
        <md-card md-theme="default" md-theme-watch class="search-list-container" ng-repeat="place in vm.places">
          <div class="details">
            <h4>{{::place.name}}</h4>
            <p>{{::place.rating.toFixed(1)}}</p>
            <p class="formatted-address">{{::place.formatted_address}}</p>
          </div>
          <div class="image-container">
            <img src="{{place.photos[0].getUrl({maxWidth:900, maxHeight:900})}}">
          </div>
        </md-card>
      </md-content>
    </md-sidenav>
    <!-- FIXME - Please remove the hard-coded lat, lon with user location. -->
    <ng-map ng-cloak center="[17.385044, 78.486671]" geo-fallback-center="[40.74, -74.18]" map-initialized="vm.myCallBack(map)"
      default-style="false" class="google-maps">
      <marker ng-repeat="place in vm.places" position="{{place.currPos}}" title="{{place.name}}" icon={{place.customIcon}} on-mouseover="vm.showDetails(event,place)"></marker>
      <info-window id="infoWindow">
        <div ng-non-bindable>
          <div class="content">
            <div class="restaurants-image">
              <img src="{{vm.place.photos[0].getUrl({ 'maxWidth': 60, 'maxHeight': 60 })}}">
            </div>
            <div class="contributor-details">
              <span ng-if="vm.place.name" class="contributor-name">{{vm.place.name}}</span>
              <div class="star">
                <div class="star-ratings-sprite">
                  <span ng-style="{width: vm.place.actualRating}" class="star-ratings-sprite-rating"></span>
                </div>
                <h5 class="star-ratings-heading">{{vm.place.rating}}</h5>
              </div>
              <div class="contributor-bio">
                <div ng-if="vm.place.formatted_address" title="{{vm.place.formatted_address}}" class="places-address">{{vm.place.formatted_address}}</div>
              </div>
              <span ng-if="vm.user.email" class="contributor-email">Email - </span>
            </div>
          </div>
        </div>
      </info-window>

    </ng-map>
  </section>

  <script src="lib/jquery/dist/jquery.min.js?ver=<!-- @echo VERSION -->"></script>
  <script src="lib/tether/dist/js/tether.min.js?ver=<!-- @echo VERSION -->"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.min.js?ver=<!-- @echo VERSION -->"></script>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyB1TgcfHxJc57VbtzoLUMpB8Z4E6QUI_Fg&libraries=places"></script>
  <script src="lib/angular/angular.min.js?ver=<!-- @echo VERSION -->"></script>
  <script src="lib/angular-animate/angular-animate.min.js?ver=<!-- @echo VERSION -->"></script>
  <script src="lib/angular-aria/angular-aria.min.js?ver=<!-- @echo VERSION -->"></script>
  <script src="lib/angular-messages/angular-messages.min.js?ver=<!-- @echo VERSION -->"></script>
  <script src="lib/angular-material/angular-material.min.js?ver=<!-- @echo VERSION -->"></script>
  <script src="lib/ngmap/build/scripts/ng-map.min.js?ver=<!-- @echo VERSION -->"></script>
  <script src="lib/toastr/toastr.min.js?ver=<!-- @echo VERSION -->"></script>
  <!-- @if NODE_ENV='production' -->
  <script src="dist/js/search-location.min.js?ver=<!-- @echo VERSION -->"></script>
  <!-- @endif -->

  <!-- @if NODE_ENV='development' -->
  <script src="dist/js/search-location.js?ver=<!-- @echo VERSION -->"></script>
  <!-- @endif -->

  <script src="js/helper.js?ver=<!-- @echo VERSION -->"></script>
  <footer class="footer">
    <div class="container">
      <div class="text-center">
        Developed with &hearts; at <a href="http://osmosys.asia/" target="_blank">Osmosys Software Solutions</a>
      </div>
    </div>
  </footer>
</body>

</html>