@import "../../css/main.less";

.google-maps {
  width: 100%;
}
.contributor-email {
  display: block;
}
.contributor-image img{
  width: 60px;
  height: 60px;
}
.contributor-details, .contributor-image {
  display: inline-block;
  vertical-align: middle;
}
.contributor-details {
  margin-left: 15px;
}
.contributor-name {
  font-weight: bold;
}
.contributor-name a {
  text-decoration: none;
}