<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A demo application on Angular Material">
  <meta name="keywords" content="angular material demo, demo on angular material, angular material">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular Material Demo</title>

  <link rel="apple-touch-icon" href="dist/img/favicon.jpg">
  <link rel="shortcut icon" type="image/x-icon" href="dist/img/favicon.jpg">
  <link rel="stylesheet" href="lib/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="lib/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="lib/toastr/toastr.css">
  <link rel="stylesheet" href="dist/css/style.css">
</head>

<body ng-app="angularDemo">
  <div id="inputContainer" class="inputDemo" ng-controller="angularDemoController as ctrl" ng-cloak>
    <md-content layout-padding>
      <form name="taskForm" class="add-task-form ">
        <h2>Add Task</h2>
        <md-input-container class="md-block">
          <label>Task Name</label>
          <input required name="taskName" ng-model="ctrl.taskDetails.taskName">
          <div ng-messages="taskForm.taskName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <div layout="row">
          <md-input-container flex=33 class="md-block">
            <label>Due Date</label>
            <md-datepicker ng-model="ctrl.taskDetails.dueDate"></md-datepicker>
          </md-input-container>
          <div flex=33>

          </div>
          <md-input-container flex=33 class="md-block pull-right">
            <label>Created on</label>
            <md-datepicker ng-model="ctrl.taskDetails.createdOnDate"></md-datepicker>
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Status</label>
          <md-select ng-model="ctrl.taskDetails.status">
            <md-option ng-repeat="status in ctrl.status" ng-value="status.statusID">
              {{status.statusName}}
            </md-option>
          </md-select>
        </md-input-container>
      </form>
    </md-content>
    <table class="table" width="100%" id="tasksGrid"></table>
  </div>
  <!--  Footer section starts here -->
  <footer class="footer">
    <div class="container">
      <div layout="row" layout-align="center">
        Developed with &hearts; at <a href="http://osmosys.asia/" target="_blank">Osmosys Software Solutions</a>
      </div>
    </div>
  </footer>
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-animate/angular-animate.min.js"></script>
  <script src="lib/angular-aria/angular-aria.min.js"></script>
  <script src="lib/angular-messages/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="lib/angular-material/angular-material.min.js"></script>

  <!-- Datatable library -->
  <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="lib/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="lib/toastr/toastr.min.js"></script>
  <script src="js/script.js"></script>
</body>

</html>