<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A demo application on Angular Material">
  <meta name="keywords" content="angular material demo, demo on angular material, angular material">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Osmosys Demo :: Angular Material</title>

  <link rel="shortcut icon" type="image/x-icon" href="img/osmIcon.png">
  <link rel="stylesheet" href="lib/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="lib/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="lib/toastr/toastr.css">
  <link rel="stylesheet" href="lib/tether/dist/css/tether.min.css">
  <link rel="stylesheet" type="text/css" href="node_modules/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
  />
  <link rel="stylesheet" type="text/css" href="node_modules/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css"
  />
  <link rel="stylesheet" href="dist/css/style.css">
</head>

<body ng-app="angularDemo" ng-controller="angularDemoController as tsk">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <a class="navbar-brand" href="http://osmosys.asia/">
      <img src="img/osmosys-logo.png" alt="logo">
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../">Introduction</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link help-link">Help<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </nav>
  <div class="modal help-modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Angular Material</h5>
        </div>
        <div class="modal-body">
          <p>This portal will allow us to add, edit and delete the task.</p>
          <p>This will call our CakePHP API. The CakePHP API will return the raw JSON which contains list of tasks.</p>
        </div>
      </div>
    </div>
  </div>
  <section class="container">
    <section>
      <md-card md-theme="default" md-theme-watch>
        <md-content layout-padding>
          <form name="tsk.taskForm" class="add-task-form" novalidate ng-class="{'frm-is-submitted': tsk.submitted}" ng-submit="tsk.createNewTask(tsk.taskForm.$valid)">
            <h2 class="form-heading">Add Task</h2>
            <div layout="row">
              <md-input-container class="md-block" flex=33>
                <label>Task Name</label>
                <input required name="taskName" ng-model="tsk.taskDetails.taskName">
                <div ng-messages="tsk.taskForm.taskName.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <div flex=33>

              </div>
              <md-input-container class="md-block" flex=33>
                <label>Status</label>
                <md-select name="status" name="" ng-model="tsk.taskDetails.status" required>
                  <md-option ng-if="!tsk.status.length">No status found</md-option>
                  <md-option ng-if="tsk.status.length" ng-repeat="status in tsk.status" ng-value="status.statusID">
                    {{status.statusName}}
                  </md-option>
                </md-select>
                <div ng-messages="tsk.taskForm.status.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>

            <div layout="row">
              <md-input-container flex=33 class="md-block">
                <label>Due Date</label>
                <md-datepicker name="dueDate" ng-model="tsk.taskDetails.dueDate" required></md-datepicker>
                <div ng-messages="tsk.taskForm.dueDate.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>


            <div layout-gt-sm="column" class="side-block">
              <md-input-container class="md-block text-right" flex-gt-sm>
                <md-button type="submit" class="md-raised md-btn-success btn" aria-label="Save"><i class="fa fa-save mg-rt-5"></i><span> {{tsk.buttonName}}</span></md-button>
              </md-input-container>
            </div>
          </form>
        </md-content>
      </md-card>
    </section>
    <section layout="row">
      <md-card md-theme="default" class="task-table" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <p class="toggle-column-heading">Toggle columns :</p>
            <span class="toggle-column-column" ng-repeat="column in tsk.dtColumns" ng-if="::!column.isRequired" ng-click="tsk.columnVisibilityChanged(column.data)">
          {{column.title}}
      </span>
          </md-card-title-text>
        </md-card-title>
        <md-content layout-padding>
          <table class="table table-striped table-bordered" width="100%" id="tasksGrid">
          </table>
        </md-content>
      </md-card>
    </section>

    <section layout="row">
      <div>
        <pie-chart></pie-chart>
      </div>
      <div>
        <line-chart></line-chart>
      </div>
    </section>
  </section>
  <!--  Footer section starts here -->
  <footer class="footer">
    <div class="container">
      <div class="text-center">
        Developed with &hearts; at <a href="http://osmosys.asia/" target="_blank">Osmosys Software Solutions</a>
      </div>
    </div>
  </footer>
  <script src="lib/jquery/dist/jquery.min.js"></script>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-animate/angular-animate.min.js"></script>
  <script src="lib/angular-aria/angular-aria.min.js"></script>
  <script src="lib/angular-messages/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="lib/angular-material/angular-material.min.js"></script>

  <!-- Datatable library -->
  <script src="lib/tether/dist/js/tether.min.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="lib/datatables.net/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
  <script type="text/javascript" src="node_modules/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript" src="node_modules/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
  <script type="text/javascript" src="node_modules/datatables.net-colreorder/js/dataTables.colReorder.min.js"></script>

  <script src="lib/toastr/toastr.min.js"></script>
  <script src="lib/moment/min/moment.min.js"></script>
  <script src="lib/ngstorage/ngStorage.min.js"></script>
  <script src="js/script.js"></script>
  <script src="lib/chart.js/dist/Chart.min.js"></script>
  <script src="js/directives/pie-chart/pieChart.js"></script>
  <script src="js/directives/line-chart/lineChart.js"></script>
  <script src="js/services/chartsService.js"></script>
</body>

</html>